In [1]:
using DataFrames
using CSV

In [2]:
df1 = CSV.File("Nation.evt", delim=" ", ignorerepeated=true, header=[:id, :eventid, :a, :b, :c, :timestamp], select=[1, 2, 6]) |> DataFrame

1053×3 DataFrame
  Row │ id     eventid  timestamp
      │ Int64  Int64    Int64
──────┼───────────────────────────
    1 │     1        1     305860
    2 │     2      122     338500
    3 │     3        1     367812
    4 │     4      122     374724
    5 │     5        2     398532
    6 │     6      122     407620
    7 │     7        1     429252
    8 │     8      222     454980
    9 │     9        2     485572
   10 │    10      212     495428
   11 │    11        2     520388
  ⋮   │   ⋮       ⋮         ⋮
 1044 │  1044      221   28536644
 1045 │  1045        1   28562116
 1046 │  1046      111   28587076
 1047 │  1047        2   28614468
 1048 │  1048      121   28630084
 1049 │  1049        2   28651844
 1050 │  1050      112   28677060
 1051 │  1051        1   28702020
 1052 │  1052      221   28718788
 1053 │  1053        1   28745540
                 1032 rows omitted

In [3]:
N = nrow(df1)
df3 = DataFrame(actid=[], reactid=[], timespan=[], timestamp=[])
T = 32000.0

for r in eachrow(hcat(df1[1:N-1, :], df1[2:N, :], makeunique=true))
    r.eventid < 100 && continue
    actid = r.eventid
    timestamp = r.timestamp
    if r.eventid_1 < 100 && r.timestamp_1 - r.timestamp < T  && r.timestamp_1 - r.timestamp > 0.1 * T
        reactid = r.eventid_1
        timespan = (r.timestamp_1 - r.timestamp) / T
    else
        reactid = 0
        timespan = 0
    end
    df3 = vcat(df3, DataFrame(actid=actid, reactid=reactid, timespan=timespan, timestamp=timestamp))
end
df3

512×4 DataFrame
 Row │ actid  reactid  timespan  timestamp
     │ Any    Any      Any       Any
─────┼─────────────────────────────────────
   1 │ 122    1        0.916     338500
   2 │ 122    2        0.744     374724
   3 │ 122    1        0.676     407620
   4 │ 222    2        0.956     454980
   5 │ 212    2        0.78      495428
   6 │ 111    2        0.848     542404
   7 │ 211    2        0.8       593604
   8 │ 212    0        0         644292
   9 │ 122    0        0         678852
  10 │ 212    2        0.628     724036
  11 │ 121    1        0.828     759108
  ⋮  │   ⋮       ⋮        ⋮          ⋮
 503 │ 221    2        0.552     28316612
 504 │ 222    2        0.552     28364740
 505 │ 112    1        0.768     28410052
 506 │ 212    2        0.8       28461252
 507 │ 211    2        0.54      28498756
 508 │ 221    1        0.796     28536644
 509 │ 111    2        0.856     28587076
 510 │ 121    2        0.68      28630084
 511 │ 112    1        0.78      28677060
 512 │ 221    1        0.836     28718788
                           491 rows omitted

In [4]:
df2 = CSV.File("Nation2.evt", delim=" ", ignorerepeated=true, header=[:seqid, :actid, :reactid, :correct, :timespan, :timestamp], select=[2,3,5,6]) |> DataFrame
df2 == df3

true